.review {
    background-color: var(--green);
    border-radius: 10px;
    padding: 20px;
    color: black;
    height: 200px;
    /* width: 360px; */
}

.reviewCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.reviewCont p {
    max-width: 300px;
    text-align: center;
    font-size: calc(14px + .5vw);
}

@media screen and (max-width: 700px) {
    .reviewCont p {
        font-size: 24px;
    }
}
